{% extends 'base.html' %}
    {% block content %}
    
        <h5 align='center'><b><u>YOUR DATA</u></b></h5>
        <table class="table">
            <thead class="text-light bg-dark">
                <tr>
                    <th scope="col">SL NO.</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for i in s %}
                    
                
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{i.text_as_list.0}}</td>
                    <td>{{i.text_as_list.1}}</td>
                    <td>{{i.text_as_list.2}}</td>
                    
                    
                </tr>
                {% endfor%}
            </tbody>
        </table> 
        
        
        
        
        
    
    {% endblock %}

