{% extends 'base.html'%}

    {% block content %}
    <br><br>
    <section class="vh-100" >
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-9">
              <div class="card text-white bg-secondary " style="border-radius: 30px; ">
                <div class="card-body p-md-3" style="backgroundcolor:grey;" >
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-9 order-2 order-lg-1">
    
        {% if msg %}
        <h3>{{ msg }}</h3>
        {% endif %}
       
       <div class="card-header" align="center">UPLOAD IMAGE</div><br><br>
        <form method=post enctype=multipart/form-data>
         {% csrf_token %}
         <p><input type=file name=file>
            <input type=submit value=Upload></p>
        </form>
     <br><br>
        <h3>Result:</h3>
        {% if img_src %}
          <img src="{{ img_src }}">
        {% endif %}
       
        {% if extracted_text %}
          <p> The extracted text from the image above is: <b> {{ extracted_text }} </b></p>
       
        {% else %}
          The extracted text will be displayed here
        {% endif %}
    <br><br>
    
</div></div></div></div></div></div></div>
    {% endblock %}

